{% extends 'base.html.twig' %}

{% block title %}New Artifact{% endblock %}

{% block body %}

    <h1>Create Artifact</h1>

    {{ form(form) }}

    <hr>
    <a href="{{ path('artifact_index') }}">View All Artifacts</a>

{% endblock %}
