{% extends 'base.html.twig' %}

{% block title %}Sign-Up{% endblock %}

{% block body %}
    <h1>Sign-Up</h1>

    {{ form(form) }}

    <br>
    You have an account? <a href="{{ path('auth_login') }}">Sign-In</a>
{% endblock %}
